{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

</head>
<body>
  
  {% block content %}
    
  <main>
    <h2>Password changed successfully!</h2>
    <p>Now you can enter site with new password</p>

    <a href="{% url 'home' %}" class="btn btn-outline-primary">Back to Home</a>
  </main>
  {% endblock content %}
</body>
</html>